APP_NAME=bureaucracy-backend
APP_ENV=development
PORT=8080
CORS_ALLOWED_ORIGIN=http://localhost:5173

MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_DATABASE=master
MSSQL_USERNAME=your_username
MSSQL_PASSWORD=your_password
MSSQL_ENCRYPT=true
MSSQL_TRUST_SERVER_CERTIFICATE=false
